body{
font-family:Arial;
text-align:center;
background:#f2f2f2;
margin:10px;
}

#calendar{
display:grid;
grid-template-columns:repeat(7,1fr);
gap:5px;
}

.day{
background:white;
border-radius:8px;
padding:6px;
min-height:90px;
font-size:13px;
}

.manana{background:#b3e5fc;}
.tarde{background:#ffe082;}
.noche{background:#ce93d8;}
.libre{background:white;}

.tooMany{
color:red;
font-weight:bold;
}

button{
padding:8px;
margin:4px;
}

select,input{
padding:8px;
margin:4px;
}

.notes{
margin-top:15px;
}